body {
  margin: 0;
  padding: 0;
  /* background-color: blueviolet; */
}
.nest-wrapper {
  display: grid;
  grid-template-columns: 7% 93%;
  /* height: 100vh; */
  grid-template-areas: 
  "nestsidebar maincontainer"
  ;
}
.nest-sidebar {
  background-color: #000000;
  grid-area: nestsidebar;
  height: 100vh;
  position: fixed;
  width: 7%;
  z-index: 20000;
}
.main-container {
  display: grid;
  grid-template-rows: 450px 1fr;
  grid-area: maincontainer;
}
.main-container-one {
  height: 390px;
  /* z-index: 2; */
  position: relative;
  display: grid;
  gap: 15px;
  background-color: #FFCC00;
  grid-template-rows: 110px 190px;
  grid-template-columns: 400px repeat(3, 1fr);
  border-radius: 0% 0% 50% 50% / 0% 0% 22% 22% ;
  grid-template-areas:
  "nametimedp nametimedp nametimedp nametimedp"
  "points contone conttwo contthree"
  ;
}
.nametimedp {
  grid-area: nametimedp;
}
.points {
  grid-area: points;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-left: 10px;
}
.cont-one {
  grid-area: contone;
  background-color: #FFFFFF;
  border-radius: 20px;
}
.cont-two {
  grid-area: conttwo;
  background-color: #FFFFFF;
  border-radius: 20px;
}
.cont-three {
  grid-area: contthree;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-right: 10px;
}
.main-container-two {
  margin-top: -80px;
  background-color: #E5E5E5;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: 
  "favorite prediction"
  ;
}
.favorite-section {
  margin-top: 100px;
  grid-area: favorite;
  display: grid;
  gap: 15px;
  grid-template-rows: 50px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "head head head"
  "artone arttwo artthree"
  ;
}
.fav-sec-head {
  /* background-color: lightblue; */
  grid-area: head;
  padding: 0 0 0 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.view-contestant-head {
  font-size: 13px;
  color: green;
  padding-left: 10px;
}
.sub-box-one {
  background-color: #FFFFFF;
  margin-bottom: 50px;
  margin-left: 20px;
}
.sub-box-two {
  background-color: #FFFFFF;
  margin-bottom: 50px;
  grid-area: arttwo;
}
.sub-box-three {
  background-color: #FFFFFF;
  grid-area: artthree;
  margin-right: 20px;
  margin-bottom: 50px;
}
.quiz-section {
  grid-area: prediction;
  margin-top: 100px;
  display: grid;
  gap: 15px;
  grid-template-rows: 50px;
  grid-template-areas: 
  "qhead"
  "qsub"
  ;
}
.quiz-sec-one {
  grid-area: qhead;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.quiz-sec-two {
  grid-area: qsub;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-size: cover;
  background-image: url('../images/predictiongames.png');
}
.predict-img {
  width: 90%;
  height: 300px;
}
@media (max-width: 450px) {
  .nest-wrapper {
    grid-template-rows: 90px 500px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "nestsidebar"
    "maincontainer"
    ;
  }
  .nest-sidebar {
      grid-area: nestsidebar;
      width: 100%;
      position: relative;
      height: 90px;
  }
  .main-container {
      grid-area: maincontainer;
  }
  .main-container-one {
      display: grid;
      grid-template-rows: 50px 200px 200px 200px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
      "nametimedp nametimedp"
      "points points"
      "contone conttwo"
      "contthree contthree"
      ;
      gap: 10px;
  }
  .nametimedp {
      height: 100px;
      grid-area: nametimedp;
  }
  .points {
      grid-area: points;
      background-color: #FFFFFF;
      height: 180px;
      margin-top: 45px;
      margin-right: 10px;
  }
  .cont-one {
      grid-area: contone;
      background-color: #FFFFFF;
      height: 150px;
      margin-top: 50px;
      margin-left: 10px;
      border: 1px solid black;
  }
  .cont-two {
      grid-area: conttwo;
      background-color: #FFFFFF;
      height: 150px;
      margin-top: 50px;
      margin-right: 10px;
      border: 1px solid black;
  }
  .cont-three {
      grid-area: contthree;
      height: 250px;
      margin-top: 20px;
      margin-left: 10px;
      border: 1px solid black;
  }
  .main-container-two {
    background-color: £E5E5E5;
    display: grid;
    margin-top: 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "favorite"
    "prediction"
    ;
  }
  .favorite-section {
    grid-area: favorite;
    display: grid;
    margin-right: 20px;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "head"
    "artone"
    ;
  }
  .sub-box-one {
    background-color: #FFFFFF;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  .sub-box-two {
    display: none;
  }
  .sub-box-three {
      display: none;
  }
  .quiz-section {
    grid-area: prediction;
    display: grid;
    margin-top: 10px;
  }
  .quiz-sec-one {
  padding: 0 0 0 20px;
  }
}