.footer {
    background-color: #FFCC00;
    height: 100px;
    border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%;
}
@media (min-width: 450px) {
    .how-to-play {
        visibility: hidden;
    }
    .support {
        visibility: hidden;
    }
}
@media (max-width: 450px) {
    .how-to-play {
        text-align: center;
        padding: 10px;
        border: solid 1px transparent;
        background-color: #FFFFFF;
        outline: none;
        font-weight: bold;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        margin: 30px 20px 0 20%;
        visibility: visible;
    }
    .support {
        margin: 20px auto;
        text-align: center;
        padding: 10px;
        border: solid 1px transparent;
        background-color: #FFFFFF;
        outline: none;
        font-weight: bold;
        border-radius: 20px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        visibility: visible;
    }
    .footer-icon {
        color: red;
        padding-right: 10px;
    }
}