.footer {
    /* color: #FFFFFF; */
    background-color: #FFCC00;
    /* margin-top: -150px; */
    /* margin-top: 20px; */
    height: 100px;
    /* grid-area: footer; */
  /* border-radius: 0% 0% 40% 40% / 0% 0% 35% 35% ; */
  border-radius: 0% 0% 50% 50% / 0% 0% 50% 50%  ;

}
.footer-btn-container {
    margin: 150px 0 0 100px;
}
@media (min-width: 450px) {
    .how-to-play {
        display: none;
    }
    .support {
        display: none;
    }
}
@media (max-width: 450px) {
    .how-to-play {
    text-align: center;
    padding: 10px;
    border: solid 1px transparent;
    background-color: #FFFFFF;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin: 30px 20px 0 20%;
    /* width: 150px; */
    }
    .support {
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border: solid 1px transparent;
    background-color: #FFFFFF;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    }
}
.how-to-play {
    border: solid 1px transparent;
    background-color: #FFFFFF;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 150px;
    margin: 0 10% 0 10%;
}
.support {
    border: solid 1px transparent;
    background-color: #FFFFFF;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    width: 150px;
}
.footer-icon {
    color: red;
    padding-right: 10px;
}
/* text-align: left;
padding: 8px 0 8px 20px;
border: solid 1px transparent;
background-color: #FFCC00;
width: 160px;
outline: none;
font-weight: bold;
margin: 30px 0 0 100px;
border-radius: 20px;
font-family: 'Poppins', sans-serif;
cursor: pointer; */