.start-body {
    /* display: grid; */
    background-image: url('../images/homebackground.png');
    /* background-repeat: no-repeat, repeat; */
    /* background-position: center; */
    background-size: cover;
    /* grid-area: startbody; */
    height: 790px;
    /* display: grid; */
    position: relative;
    background-color: #FFCC00;
    width: 100%;
}
@media (max-width: 450px) {
    .start-body {
        font-size: 10px;
        background-image: url('../images/home-mobile-background.png');
        /* background-size: cover; */
        background-position: center;
    }
}
/* .logo-bg {
    max-width: 100%;
    height: auto;
    position: absolute;
} */
.welcome {
    padding: 100px 0 0 100px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
.motto {
    padding: 5px 0 0 100px;
    margin: 0;
    color: #FFFFFF;
    /* padding: 0 0 0 100px; */
    font-family: 'Poppins', sans-serif;
}
.get-started-btn {
    text-align: left;
    padding: 8px 0 8px 20px;
    border: solid 1px transparent;
    background-color: #FFCC00;
    width: 160px;
    outline: none;
    font-weight: bold;
    margin: 30px 0 0 100px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
@media (max-width: 450px) {
    .welcome {
        padding: 100px 20px 0 20px;
        font-size: 30px;
    }
    .motto {
        padding: 10px 20px 0 20px;
        font-size: 18px;
    }
    .get-started-btn {
        margin: 30px 0 0 20px;
    }
}

.fachevron {
    /* margin: 0 0 0 0; */
    position: absolute;
    padding: 3px 0 0 20px;
}
.low {
    background-color: #FFCC00;
    height: 140px;
    margin-top: -110px;
}
.modal {
    margin: 13% auto;
    width: 550px;
    position: relative;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    border: solid 1px transparent;
}
.circle-icon {
    margin: 20px auto 10px auto;
    height: 40px;
    width: 40px;
    color: #FFCC00;
}
.detect-number {
    font-family: 'Poppins', sans-serif;
}
.cover-number {
    letter-spacing: 2px;
}
.post-number {
    color: #ccc;
}
.number {
    color: #FFCC00;
}
.get-nick {
    width: 350px;
    height: 35px;
    text-align: center;
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 18px;
}
.proceed {
    margin: 0 0 20px 0;
    height: 40px;
    width: 160px;
    text-align: center;
    padding: 10px;
    border: solid 1px transparent;
    background-color: #FFCC00;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}